include:
  - ./docker-compose.yml

services:

  # ------------------------
  # PROMETHEUS
  # ------------------------
  prometheus:
    image: prom/prometheus:v2.55.0
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - shop_network
    restart: always

  # ------------------------
  # GRAFANA
  # ------------------------
  grafana:
    image: grafana/grafana:10.4.0
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - shop_network
    depends_on:
      - prometheus
    restart: always

  # ------------------------
  # RABBITMQ EXPORTER
  # (метрики очередей)
  # ------------------------
  rabbitmq-exporter:
    image: kbudde/rabbitmq-exporter
    container_name: rabbitmq-exporter
    environment:
      - RABBIT_URL=http://rabbitmq:15672
      - RABBIT_USER=rabbitmqlogin
      - RABBIT_PASSWORD=rabbitmqpassword
    ports:
      - "9419:9419"
    networks:
      - shop_network
    depends_on:
      - rabbitmq
    restart: always

  # ------------------------
  # POSTGRES EXPORTER
  # (для каждого шарда — по экземпляру)
  # ------------------------
  pg-exporter-shard1:
    image: prometheuscommunity/postgres-exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://postgres:postgres@shard1:5432/postgres?sslmode=disable"
    ports:
      - "9187:9187"
    networks:
      - shop_network
    depends_on:
      - shard1

  pg-exporter-shard2:
    image: prometheuscommunity/postgres-exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://postgres:postgres@shard2:5432/postgres?sslmode=disable"
    ports:
      - "9188:9187"
    networks:
      - shop_network
    depends_on:
      - shard2

  pg-exporter-shard3:
    image: prometheuscommunity/postgres-exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://postgres:postgres@shard3:5432/postgres?sslmode=disable"
    ports:
      - "9189:9187"
    networks:
      - shop_network
    depends_on:
      - shard3

volumes:
  prometheus-data:
  grafana-data:
