global:
  scrape_interval: 10s

scrape_configs:

  # --- микросервисы FastAPI (shop, search, orders, email api и т.д.) ---
  - job_name: "services"
    metrics_path: /metrics
    static_configs:
      - targets:
          - shop:8000
          - search-service:5006
          - order-service:5005

  # --- RabbitMQ ---
  - job_name: "rabbitmq"
    static_configs:
      - targets: ["rabbitmq-exporter:9419"]

  # --- Postgres shards ---
  - job_name: "pg-shard1"
    static_configs:
      - targets: ["pg-exporter-shard1:9187"]

  - job_name: "pg-shard2"
    static_configs:
      - targets: ["pg-exporter-shard2:9187"]

  - job_name: "pg-shard3"
    static_configs:
      - targets: ["pg-exporter-shard3:9187"]
